<section class="main-banner">
  <div class="row no-gutters main-banner-content pl-5 pr-5">
    <div class="align-self-center w-100">
      <div class="col-6 text-white">
        <h1>Stale and Tasty</h1>
        <h1>Organic Fruit and Vegetables</h1>
        <h6 class="mt-4">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English.
        </h6>
      </div>
    </div>
  </div>
</section>
