<section>
  <div class="row no-gutters no-padding">
    <h1 class="text-success text-center pt-4 w-100">
      Welcome to organic theme
    </h1>
    <div class="row no-gutters about-main mt-4">
      <div class="col-6 about-main-left"></div>
      <div class="col-6 align-self-center">
        <h5 class="w-100">
          About us
        </h5>
        <h5 class="w-100">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English.
        </h5>
      </div>
    </div>
  </div>
</section>
