.about-main {
  height: 330px;
  &-left {
    background-image: url('https://cdn.wallpapersafari.com/68/99/NUdXs1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
